.navbarBrand
{
    color: var(--mainColor);
    font-weight: 600;
    font-size: 20px;
}
.navLink.activeLink {
    color: #833F92 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.navLink:hover
{
    color: #833F92 !important;
}
.mainSection
{
    background-image: url("../../images/8310265.jpg");
    background-size: cover;
    height: 95vh;
    margin: 0;
}
.navbar
{
    position: sticky !important  ;
}