.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .visit-btn {
    background: #ff4500;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
  }