.sideBar
{
    background-color: #fff;
    position: fixed;
    border-right:1px solid #595959;
}
.sideBar  , .sideItems a
{
    color: #595959;
}
.sideItems
{
    font-size: 16px !important; 
    
}
.sideItems a:hover 
{
    color: var(--mainColor) !important;
    
}
.sideItems a:hover.active
{
    color: #fff !important;
    
}


.active
{
    background-color: var(--mainColor) !important;
    color: #fff !important;
    
    font-size: 16px !important;
    border-radius: 25px !important;
}