.signupContainer
{
    height: 100vh !important;
   display: flex;
   justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #9A616D;
}
.signupContainer .card
{
    height: 85vh;
}
