@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
*:not(i)
{

  font-family:"Poppins", sans-serif !important; 
}
.App {

  height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


input[type="text"]
{
  border:1px solid #B39AE5 !important;
  outline: none;
}
.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.logo {
  width: 100px;
  height: auto;
}




.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.sidebar ul li svg {
  margin-right: 10px;
  color: #833F92;
}
#services .services-top {
  padding: 70px 0 50px;
}
#services .services-list {
  padding-top: 50px;
}
.services-list .service-block {
  margin-bottom: 25px;
}
.services-list .service-block .ico {
  font-size: 38px;
  float: left;
}
.services-list .service-block .text-block {
  margin-left: 58px;
}
.services-list .service-block .text-block .name {
  margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
  margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
 
  line-height: normal;
}
.highlight {
  color: var(--mainColor);
}                    
.mainButton
{
  background-color: var(--mainColor) !important;
  color: white !important;
}
.content {
  flex: 2;
  padding: 20px;
}
.group {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.group h3 {
  margin: 0;
  color: #333;
}
.ico.fa
{
  width: 75px;
  background-color: var(--mainColor);
  color: #fff;
  border-radius: 50%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group p {
  color: #666;
  font-size: 14px;
}

.group span {
  font-size: 12px;
  color: gray;
}
.group button {
  background-color: #833F92;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.group button:hover {
  background-color: #833F92;
}


.right-sidebar {
  width: 300px;
  padding: 20px;
  background: white;
  border-left: 1px solid #ddd;
}

