body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
  color: #d63384;
  margin: 0;
  
}
.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.logo {
  width: 100px;
  height: auto;
}

.main-container {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.sidebar ul li svg {
  margin-right: 10px;
  color: #d63384;
}


.content {
  flex: 2;
  padding: 20px;
}
.group {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.group h3 {
  margin: 0;
  color: #333;
}

.group p {
  color: #666;
  font-size: 14px;
}

.group span {
  font-size: 12px;
  color: gray;
}
.group button {
  background-color: #d63384;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.group button:hover {
  background-color: #b0296e;
}


.right-sidebar {
  width: 300px;
  padding: 20px;
  background: white;
  border-left: 1px solid #ddd;
}

