body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root 
{
  --mainColor:	#833F92;
}
.mainTextColor
{
  color: var(--mainColor);
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
